/* About */
.about-img-container {
    width: 40%;
    height: 60%;
}
.img-content {
    /* To Do */
    width: 90%;
    height: 90%;
    background-image: url(../assets/About-img.svg);
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}
.about-content-container {
    width: 60%;
    height: 60%;
    padding: 10px;
}
.about-desc-title {
    font-size: 2dvw;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 1.05px;
}
.about-desc-text {
    margin-top: 20px;
    font-size: 1dvw;
    color: #666;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    line-height: 120%; /* 24px */
    letter-spacing: 0.6px;
    text-align: justify;
}
.indent {
    text-indent: 12rem;
}
.about-desc-title-text-style {
    color: #8FC513;
    display: inline-block;
    background: url(../assets/bg-text-1.svg );
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: center; 
}
