* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

/* common */
::-webkit-scrollbar {
    display: none;
}
.red {
    background-color: red;
}
.blue {
    background-color: blue;
}
.green { 
    background-color: green;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.fill {
    height: 100%;
    width: 100%;
}
a {
    text-decoration: none;
    color: #1C2B5E;
    display: flex;
}
b {
    opacity: 0.7;
    color: black;
}
.ft-row .a {
    width: 100%;
    height: 100%;
}
.ft-row a div {
    color: black;
}
section {
    width: 100%;
    height: 100vh;
    /* padding: 5%; */
}
.section-title {
    white-space: nowrap;
    width: 12%;
    border-left: 2px solid rgba(28, 43, 94, 0.30);
    border-radius: 117px;
    line-height: 170%;
    letter-spacing: 1.05px;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0.00) 0%, rgba(60, 80, 149, 0.16) 100%);
}
.section-title-text {
    padding: 5px;
    margin-left: 10px;
    font-weight: 600;
    color: #1C2B5E;
}
.section-content-container {
    /* margin: 5%; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-container {
    width: 85%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-box {
    width: 30%;
    height: 70%;
    margin: 2%;
    border-radius: 30px;
    box-shadow: 0px 0px 5px 0px rgba(28, 43, 94, 0.20);
    overflow: hidden;
    background-color: white;
}

#about, #testimonial {
    padding: 5%;
}

/* Locate Us */
.map-container {
    width: 100%;
    height: 80%;
    padding: 5%;
}